################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/DispatcherDB.dbmdl
/DispatcherDB.jfm
/DispatcherDB.refactorlog
/DispatcherDB.sqlproj.user
/DispatcherDB.sqlproj
